 @font-face {
  font-family: "disneyFont";
  src: url(waltograph42.otf);
}
 
 h1 {
    text-align: center;
    font-family:disneyFont;
    font-size:80px;
}
#top{
    text-align:center;
background-image:url("http://31.media.tumblr.com/5a0639cb860bc05df680968c24fa1d76/tumblr_n665j8qToT1sztujko1_500.gif");
 background-color:blue;   
 background-size: 33% 100%;
}
body{
    background-color:#006899;
      cursor:url(too413.cur),auto;
}
a:hover{
 cursor:url(too739.cur),auto;   
}
img:hover{
    cursor:url(too923.cur),auto;
}
#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.column {
    width: 18%;
    padding: 25px 0px;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}

#songs p {
    font-size: 17px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
     color:white;
}

#artists p {
    font-size: 15px;
    height: 100px;
    width:100px;
    margin: 20px;
     color:white;
    margin-right:15px;
}

#lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
    text-align: center;
     color:white;
}

#links a {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
     color:white;
}

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}
#link{
    margin-left: 50px;
    margin-right: -5px;
}
#userChoice{
     margin-left: 65px;

}
